.barranav li:hover {
    background-color: #ccc;
  }

  #checkmenu {
		display: none;
	}

	/* + --> para indicar que es el hermano inmediato, la siguiente linea a la derecha, bueno abajo */
	#checkmenu:checked + ul{
		/* display:block; */
		max-height: 12em;


	}

  .barranav {
    background-color: #B4E0FA;
    background-color: #eee;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 15px;
    
    top: 0;
    
  }
  .ulbarranav{
    list-style-type: none;
    margin:0;
    padding: 0;
    align-items: stretch; /* Hace que los elementos `li` se estiren para llenar el `nav` */
    width: 100%;
    height: 100%;
  
    /* display:none; */
  
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
  
  }

  .libarranav{
    justify-content: center;
    align-items: center; /* Centra el contenido de `li` vertical y horizontalmente */
    padding: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    border-radius: 10px; /* Esquinas redondeadas para cada `li` */
  
  }

  @media (min-width:400px){
    .libarranav > a{
        /* hace que se resalte todo cuando pasas con el raton por encima */
        padding: .4em;
    }

    .barranav > label[for]{
        /* Quitamos las 3 rallitas cuando hay espacio */
        display: none;
    }

    .libarranav > a > span{
        /* mostrar unicamente iconos cuando no haya hueco */
        display: none;
    }

    .ulbarranav{
        
        display: flex;
        /* ya no te aparecen todos en linea */
        flex-wrap: wrap;
        justify-content: space-evenly;

        
        max-height: 2em;
    }

    .libarranav{
        /* todos los articulos crecen lo mismo para evitar que haya espacios vacios sueltos entre ellos */
        
        flex-grow: 1;
        text-align: center;
    }

}

@media (min-width:748px){
    .ulbarranav{
        display: flex;
        /* ya no te aparecen todos en linea */
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .libarranav{
        /* todos los articulos crecen lo mismo para evitar que haya espacios vacios sueltos entre ellos */
        flex-grow: 1;
        text-align: center;
    }

    .libarranav > a > span{
        /* mostrar nombres y iconos cuando haya espacio */
        display: inline-block;
    }
}