body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-width: 352px;
  }
  
  .site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: #ebebeb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    margin: 0 10px;
  }
  
  
  .logo-small {
    max-height: 3em; /* Asegura que ambas imágenes no sean más altas de 3em */
    margin-right: 10px;
  }

  .logo-big{
    max-height: 3em; /* Asegura que ambas imágenes no sean más altas de 3em */
    margin-right: 10px;
  }

  .logo-small {
    display: none;
  }

 
  
  .search-bar {
    position: relative;
    flex-grow: 1; 
    margin: 0 1em;
    max-width: 100%;
    flex:3;
  }
  
  .search-bar input {
    height: 1.5em;
    width: calc(100% - 60px);
    padding: 5px 10px;
    padding-right: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .search-bar button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%; /* Set the height to match the parent */
    width: 40px; /* Set a fixed width for the button */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center the icon vertically */
    justify-content: center;
    cursor: pointer;
  }
  
  .search-bar button i {
    color: #333; /* Color of the search icon */
    font-size: 20px; /* Size of the icon */
  }
  
  .profile {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }

  .profile img {
    height: 3em; /* Adjust as needed */
    border-radius: 20px;
  }
  
  .profile-card-global {
    background-color: #ebebeb;
    padding: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    margin: 0.5em;

  }
  .profile-card {
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 0.5em;
  }
  
  .profile-photo {
    flex: 1; /* takes up 1 part of the flex container */
    margin-right: 15px;
    max-width: 120px;
  }
  
  .profile-photo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
  }
  
  .profile-info {
    flex: 2; /* takes up 2 parts of the flex container */
  }
  
  .profile-name {
    font-size: 1.2em;
    color: #333;
    margin: 0 0 5px 0;
  }
  
  .profile-username,
  .profile-university,
  .profile-degree {
    font-size: 0.9em;
    color: #666;
    margin: 0;
  }

  /* _________________________________________________ */

  .form-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0.25, 0, 0.25);
    padding: 20px;
    margin: 0.5em;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-size: 0.9em;
    color: #333;
    margin-bottom: 5px;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="number"] {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 0.9em;
  }

  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus,
  .form-group input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
  }

  .form-button {
    width: 35%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
  }

  .form-button:hover {
    background-color: #0056b3;
  }

  /* ... existing styles ... */

  

.section-header {
  font-size: 1em;
  color: #333;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.upload-instructions {
  font-size: 0.8em;
  color: #666;
  margin-bottom: 15px;
}

.form-group input[type="file"] {
  border: none;
  margin-bottom: 10px;
  width: 95%; /* Ajustado para mantener la consistencia con otros campos de entrada */
}

.password-section {
  margin-top: 20px;
  
}

.form-group input[type="password"] {
  width: 95%; /* Ajustado para mantener la consistencia con otros campos de entrada */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 0.9em;
}

.form-group input[type="password"]:focus {
  outline: none;
  border-color: #007bff;
}



@media (max-width: 600px) {
  .logo-big {
    display: none;
  }
  
  .logo-small {
    display: block; /* Mostrar la imagen pequeña */
  }
}

