
.icon-graduation-cap:before { content: '\e800'; } /* '' */
.icon-folder-empty:before { content: '\e801'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-product-hunt:before { content: '\f288'; } /* '' */
.icon-fire:before { content: '\f525'; } /* '' */
