.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    /*background-color: #f4f4f4;*/
    border-radius: 5px;
}

.search-input, .search-select, .search-button {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search-input {
    width: 200px; /* Ajusta según sea necesario */
    flex-grow: 0; /* Evita que el campo se estire */
}

.search-select {
    cursor: pointer;
    appearance: none; /* Elimina los estilos predeterminados del navegador */
}

.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}
