body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Fondo oscuro para todo el cuerpo */
    color: #e0e0e0; /* Texto claro para contraste */
}

.registro-container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #121212; /* Fondo oscuro para el contenedor de registro */
}

.registro-box-register {
    width: 400px;
    padding: 20px;
    background: #1e1e1e; /* Fondo oscuro para la caja de registro */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255,255,255,0.1); /* Sombra clara para destacar la caja */
    text-align: center;
}

.university-logo-register {
    /* Asegúrate de que el logo es visible en modo oscuro. Podría necesitar un filtro o una versión de logo claro. */
    background-image: url('logo-dark.png'); /* Logo adecuado para fondo oscuro */
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.registro-title-register {
    margin-bottom: 20px;
}

.form-group-register {
    margin-bottom: 15px;
    display: flex;
    gap: 10px; /* Espaciado entre campos */
}

.form-control-register {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #333; /* Borde adecuado para modo oscuro */
    background-color: #262626; /* Fondo de los campos de texto en modo oscuro */
    border-radius: 3px;
    color: #e0e0e0; /* Texto claro para los inputs */
}

.form-actions-register {
    display: flex;
    justify-content: space-between;
}

.btn-register {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: white; /* Texto blanco para todos los botones */
}

.btn.cancelar {
    background-color: #f44336; /* Botón rojo para cancelar */
}

.btn.registrar {
    background-color: #4CAF50; /* Botón verde para registrar */
}

@media (max-width: 420px) {
    .registro-box-register {
        width: 95%;
        margin: 10px;
    }
    
    .form-group-register {
        flex-direction: column;
    }
}