/* ----------------------------------------------------Página proyectos--------------------------------------------------------------- */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-width: 352px;
  }

  .profile-card-global {
    background-color: #ebebeb;
    padding: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    margin: 0.5em;

  }
  .profile-card {
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 0.5em;
  }

  .profile-photo {
    flex: 1; /* takes up 1 part of the flex container */
    margin-right: 15px;
    max-width: 120px;
  }

  .profile-photo img {
    /* width: 100%;
    height: auto;
    border-radius: 50%;
    display: block; */
  }

  .profile-info {
    flex: 2; /* takes up 2 parts of the flex container */
  }

  .profile-name {
    font-size: 1.2em;
    color: #333;
    margin: 0 0 5px 0;
  }

  .profile-username,
  .profile-university,
  .profile-degree {
    /* font-size: 2em; */
    color: #666;
    margin: 0;
  }

  .user-name {
    font-size: 1em;
    color: #333;
    margin-right: 10px; /* Adjust the margin as needed */
  }


  /* ---------------------------------------------------------------------------------------------*/

  .project-container {
      background: #fff;
      margin-top: 0.1em;;
      
      padding: 20px;
    }

  .project-image img {
      width: 100%;
      height: auto;
      border-radius: 20px;
    }

    .project-image img {
      width: auto;
      height: 100%;
      /* max-width: 300px; Ajusta el valor según tus necesidades */
      max-height: 400px; /* Ajusta el valor según tus necesidades */
      object-fit: contain; /* Esto asegura que la imagen se recorte para llenar el área, conservando la proporción */
  }


    .comment-section {
      background-color: #fff;
      /* padding: 20px; */
      border-radius: 10px;
      /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
      margin: auto;
    }
    .comment {
      margin-bottom: 20px;
    }
    .comment img {
      width: 100px;
      height: auto;
      border-radius: 5px;
    }
    .comment-title {
      font-size: 1em;
      color: #333;
      margin: 5px 0;
    }
    .comment-caption {
      font-size: 0.9em;
      color: #666;
    }
    .comment-box {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      
    }
    .comment-box input[type="text"] {
      width: calc(100% - 110px);
      padding: 8px;
      border-radius: 10px;
      border: 1px solid #ccc;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .comment-box input[type="submit"] {
      width: 100px;
      border: none;
      padding: 8px;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      border-radius: 10px;
    }

    /* MULTIMEDIA */

  .resources-section {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 1em;
  }
  .resources-section h2 {
    font-size: 1.25rem;
    color: #333;
  }
  .documents{
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
    /* padding: 1em; */
    margin: 0;
  }

  .documents h3 {
    margin-top:0.1em;
  }

  .document-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
    padding: 0.2em;
    border-radius: 4px;
  }

  .document-icon img{
    margin-right: 0.5em;
    height: 4em;
  }
  .document-info {
    flex-grow: 1;
  }
  .document-title {
    font-size: 1rem;
    color: #333;
    margin: 0;
  }
  .document-description {
    font-size: 0.875rem;
    color: #666;
  }
  .download-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 0.5em 0.9em;
    border-radius: 4px;
    font-size: 0.875rem;
    cursor: pointer;
  }
  .image-gallery {
    margin-top: 20px;
  }
  .gallery-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  .slider-container {
    display: flex;
    width: 90%;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
  }



  /*FOOTER*/
  .site-footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    color: #333;
    border-top: 3px solid #dcdcdc;
  }

  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .footer-section h3 {
    color: #000;
    margin-bottom: 10px;
  }

  .footer-section p,
  .footer-section ul,
  .footer-section ul li {
    color: #666;
    line-height: 1.6;
  }

  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }

  .footer-section ul li a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer-section ul li a:hover {
    color: #0d47a1;
  }

  .social-icons a {
    display: inline-block;
    margin-right: 10px;
  }

  .social-icons img {
    width: 24px;
    height: 24px;
  }


  .project-actions {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    gap: 1em;;
  }
  
  .rate-project,
  .share-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    width: 12em;
    height: 6.5em;
    border-radius: 8px;
    background-color: #f4f4f4;
    gap: 0.5em;
  }

  .valorar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #estrellas {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 6px;
    border: 0.5px solid #d8d8d8;

  }
  
  .rate-button {
    background: none;
    border: none;
    color: #333; /* Gold color for stars */
    font-size: 2em;
    cursor: pointer;
  }
  
  .rate-count {
    margin-left: 5px;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icon {
    font-size: 1.5em;
    margin-right: 10px;
    color: #333; /* Dark color for social media icons */
    text-decoration: none;
  }
  
  .social-icon:hover {
    color: #007bff; /* Light blue on hover for social media icons */
  }

  @media (min-width: 520px) {
    .project-actions{
      flex-direction: row;
      
    }
  }


  @media (max-width: 600px) {
    .logo-big {
      display: none;
    }
    
    .logo-small {
      display: block; /* Mostrar la imagen pequeña */
    }
  }


  /* Estilos para pantallas más grandes */
  @media screen and (min-width: 768px) { /* Ajusta el 768px según tus necesidades */
    .project-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .left-column, .right-column{
      width: 49%;
    }
    .left-column{
      padding-right: 1em;
      border-right: 1px solid #666;
    }
    .right-column{
      padding-left: 1em;
    }

    /* Asegúrate de que las imágenes dentro de .project-container y .resources-section no se desborden de sus contenedores */
    .project-image img, .slider-container img {
      width: 100%;
      height: auto;
      border-radius: 4px;
    }
    
    /* Ajusta el diseño del slider para que no ocupe toda la altura de la pantalla en pantallas grandes */
    .slider-container {
      height: auto;
      overflow-x: auto; /* Cambia a auto para evitar altura innecesaria */
    }
    
    /* Contenedor para la barra de búsqueda y la imagen del perfil */
    .search-and-profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; /* Ocupa toda la anchura disponible */
      margin-bottom: 1em; /* Agrega margen debajo si es necesario */
    }

    .search-bar {
      flex-grow: 1; /* Permite que la barra de búsqueda crezca para llenar el espacio */
      margin-right: 1em; /* Añade margen a la derecha */
    }

    .profile {
      /* Si la imagen de perfil necesita ajustes de tamaño, agrégalos aquí */
    }

    .project-actions{
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      
    }


  }

  @media (min-width: 975px) {
    .project-actions{
      display: flex;
      flex-direction: row;
      
    }

    
  }

  /* Estilo del fondo del modal */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Estilo del contenido del modal */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* El botón cerrar (x) */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .carousel-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%; /* O el ancho que prefieras, pero que coincida con el ancho de las imágenes */
  max-height: 35em;
}

.carousel-slide {
  display: flex;
  width: calc(100% ); /* Cambiar cantidadDeImagenes por el número real de imágenes en el carrusel */
}

.carousel-image {
  max-width: 100%;
  width: calc(100%); /* Se establece que cada imagen ocupe todo el ancho del contenedor */
  flex: 0 0 auto; /* Esto evita que las imágenes se estiren o se encojan */
  transition: transform 0.5s ease;
}
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff75;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }


  /* -------------------------------------------Index---------------------------------------------------------------------- */

  body {
    font-family: Arial, sans-serif;
  }
  
  .header-image-index {
    width: 100%;
    /* El div se extiende a lo ancho de su contenedor */
    height: 150px;
    /* Altura fija para hacerla rectangular, ajusta según necesites */
    background-image: url('Imagenes/Ej_diagrama.jpeg');
    /* Imagen de fondo */
    background-size: cover;
    /* La imagen cubre completamente el div */
    background-position: center;
    /* La imagen se centra dentro del div */
    margin-top: 20px;
    /* Espacio entre la cabecera y la imagen */
  }
  
  
  .gallery-container-index {
    background-color: #f5f5f5;
    /* Fondo gris claro para la caja contenedora */
    border: 1px solid #dbdbdb;
    /* Borde gris un poco más oscuro */
    padding: 20px;
    /* Espaciado alrededor de los artículos */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para la caja contenedora */
    border-radius: 10px;
    /* Bordes redondeados para la caja contenedora */
    margin: auto;
    /* Centra la caja contenedora */
    max-width: auto;
    /* Ancho máximo de la caja contenedora, ajusta según necesites */
  }
  
  .project-gallery-index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Permite que los artículos se ajusten en filas */
    gap: 16px;
    /* Espacio entre los artículos */
  }
  
  .project-gallery-index article {
    text-align: center;
  }
  
  .project-gallery-index img {
    width: 100px;
    /* Ajusta esto al tamaño que necesitas */
    height: 100px;
    /* Ajusta esto al tamaño que necesitas */
    border-radius: 10px;
    margin-bottom: 0.5em;
  }
  
  section>div {
    text-align: center;
    padding: 1em;
  }
  
  button {
    padding: 0.5em 1em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .project-gallery-index article {
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    position: relative;
    margin: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrado horizontal */
    height: 300px;
    /* Altura fija del artículo */
    width: 200px;
    /* Ancho fijo del artículo */
  }
  
  .project-gallery-index img {
    width: 200px;
    /* Ancho automático para mantener la proporción */
    height: 200px;
    /* Altura fija para todas las imágenes */
    object-fit: cover;
    /* Las imágenes cubren el espacio asignado */
    border-radius: 6px;
    margin-bottom: 10px;
    /* Espacio entre la imagen y el texto */
  }
  
  .project-gallery-index article footer {
    position: absolute;
    /* Posicionamiento absoluto dentro del article */
    bottom: 16px;
    /* Posicionado en la parte inferior del article */
    left: 0;
    /* Alineado a la izquierda del article */
    right: 0;
    /* Alineado a la derecha del article */
    display: flex;
    justify-content: space-between;
    /* Separa los elementos hijo a ambos extremos */
    padding: 0 16px;
    /* Padding izquierdo y derecho para no pegar el texto a los bordes */
  }
  
  .project-gallery-index article footer p {
    margin: 0;
    /* Anula cualquier margen por defecto */
    /* No necesitas width: calc(100% - 32px) aquí ya que el footer llena el ancho del article */
  }
  
  /* Continúa con los estilos de footer y button como se proporcionaron previamente */



  /* -----------------------------------------Header---------------------------------------------- */
  .site-header-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: #ebebeb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo-header {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    margin: 0 10px;
  }
  
  
  .logo-small-header {
    max-height: 3em;
    /* Asegura que ambas imágenes no sean más altas de 3em */
    margin-right: 10px;
  }
  
  .logo-big-header {
    max-height: 3em;
    /* Asegura que ambas imágenes no sean más altas de 3em */
    margin-right: 10px;
  }
  
  .logo-small-header {
    display: none;
  }
  
  
  
  .search-bar-header {
    position: relative;
    flex-grow: 1;
    margin: 0 1em;
    max-width: 100%;
    flex: 3;
  }
  
  .search-bar-header input {
    height: 1.5em;
    width: calc(100% - 60px);
    padding: 5px 10px;
    padding-right: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar-header button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    /* Set the height to match the parent */
    width: 40px;
    /* Set a fixed width for the button */
    display: flex;
    /* Use flexbox for centering */
    align-items: center;
    /* Center the icon vertically */
    justify-content: center;
    cursor: pointer;
  }
  
  .search-bar-header button i {
    color: #333;
    /* Color of the search icon */
    font-size: 20px;
    /* Size of the icon */
  }
  
  .profile-header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  .profile-header img {
    width: 50px;
    /* Adjust as needed */
    border-radius: 50%;
  }

  .profile-header button {
    margin-right: 5px;
  }

  .user-name-header{
    margin-right: 5px;
  }

  @media screen and (min-width: 768px) { /* Ajusta el 768px según tus necesidades */
    .search-bar-header {
      flex-grow: 1; /* Permite que la barra de búsqueda crezca para llenar el espacio */
      margin-right: 1em; /* Añade margen a la derecha */
    }
  }
  
  
  @media(max-width: 600px) {
    .logo-big-header {
      display: none;
    }
    
    .logo-small-header {
      display: block; /* Mostrar la imagen pequeña */
    }
  }





/* ---------------------------------------Nav------------------------------------ */
.barranav-nav li:hover {
    background-color: #ccc;
  }

  #checkmenu-nav {
		display: none;
	}

	/* + --> para indicar que es el hermano inmediato, la siguiente linea a la derecha, bueno abajo */
	#checkmenu-nav:checked + ul{
		/* display:block; */
		max-height: 12em;


	}

  .barranav-nav {
    background-color: #B4E0FA;
    background-color: #eee;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 15px;
    
    top: 0;
    
  }
  .ulbarranav-nav{
    list-style-type: none;
    margin:0;
    padding: 0;
    align-items: stretch; /* Hace que los elementos `li` se estiren para llenar el `nav` */
    width: 100%;
    height: 100%;
  
    /* display:none; */
  
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
  
  }

  .libarranav-nav{
    justify-content: center;
    align-items: center; /* Centra el contenido de `li` vertical y horizontalmente */
    padding: 0.3em;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    border-radius: 10px; /* Esquinas redondeadas para cada `li` */
  
  }

  @media (min-width:400px){
    .libarranav-nav > a{
        /* hace que se resalte todo cuando pasas con el raton por encima */
        padding: .4em;
    }

    .barranav-nav > label[for]{
        /* Quitamos las 3 rallitas cuando hay espacio */
        display: none;
    }

    .libarranav-nav > a > span{
        /* mostrar unicamente iconos cuando no haya hueco */
        display: none;
    }

    .ulbarranav-nav{
        
        display: flex;
        /* ya no te aparecen todos en linea */
        flex-wrap: wrap;
        justify-content: space-evenly;

        
        max-height: 2em;
    }

    .libarranav-nav{
        /* todos los articulos crecen lo mismo para evitar que haya espacios vacios sueltos entre ellos */
        
        flex-grow: 1;
        text-align: center;
    }

}

@media (min-width:748px){
    .ulbarranav-nav{
        display: flex;
        /* ya no te aparecen todos en linea */
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .libarranav-nav{
        /* todos los articulos crecen lo mismo para evitar que haya espacios vacios sueltos entre ellos */
        flex-grow: 1;
        text-align: center;
    }

    .libarranav-nav > a > span{
        /* mostrar nombres y iconos cuando haya espacio */
        display: inline-block;
    }
}






/* --------------------------------------Buscar---------------------------------------- */
.search-container-buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    /*background-color: #f4f4f4;*/
    border-radius: 5px;
}

.search-input-buscar, .search-select-buscar, .search-button-buscar {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search-input-buscar {
    width: 200px; /* Ajusta según sea necesario */
    flex-grow: 0; /* Evita que el campo se estire */
}

.search-select-buscar {
    cursor: pointer;
    appearance: none; /* Elimina los estilos predeterminados del navegador */
}

.search-button-buscar {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button-buscar:hover {
    background-color: #0056b3;
}

/* ----------------------------------------PerfilPersonal----------------------------------------- */
body {
    font-family: Arial, sans-serif;
  }
  
  
  .header-image-perfil {
    width: 100%;
    /* El div se extiende a lo ancho de su contenedor */
    height: 150px;
    /* Altura fija para hacerla rectangular, ajusta según necesites */
    background-image: url('Imagenes/Ej_diagrama.jpeg');
    /* Imagen de fondo */
    background-size: cover;
    /* La imagen cubre completamente el div */
    background-position: center;
    /* La imagen se centra dentro del div */
    margin-top: 20px;
    /* Espacio entre la cabecera y la imagen */
  }
  
  .profile-noheader-perfil {
    position: relative;
    text-align: center;
    margin: 1em 0;
  }
  
  .follow-button-perfil {
    position: absolute;
    top: 0; /* Ajusta esto según sea necesario para que quede justo debajo de la cabecera */
    right: 0; /* Alineado a la derecha */
    padding: 0.5em 1em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1em; /* Añade un margen superior si es necesario para que no toque la cabecera */
    margin-right: 1em; /* Añade un margen derecho si es necesario para alinear correctamente */
  }

  .ajustes-perfil {
    position: absolute;
    top: 0; /* Ajusta esto según sea necesario para que quede justo debajo de la cabecera */
    right: 0; /* Alineado a la derecha */
    padding: 0.5em 1em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1em; /* Añade un margen superior si es necesario para que no toque la cabecera */
    margin-right: 10em; /* Añade un margen derecho si es necesario para alinear correctamente */
  }

  .profile-image-perfil {
    width: 200px; /* Ajusta según tus necesidades */
    height: 200px;
    border-radius: 50%; /* Hace la imagen circular */
    margin-bottom: 1em;
  }
  
  .stats-perfil {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
  }
  
  .stats-perfil div {
    margin-left: 55px;
    text-align: center;
  }
  
  button {
    padding: 0.5em 1em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  
  

  @media(max-width: 950px){
    
  }

  

  @media(max-width: 600px){
    .stats-perfil div {
      margin-left: 35px;
      text-align: center;
    }

  }


  /* -------------------------------------------Login------------------------------------------ */
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .login-box-login {
    width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .university-logo-login {
    display: block;
    margin: 0 auto 30px auto;
    height: 80px;
  }
  
  .login-title-login {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .form-group-login {
    margin-bottom: 15px;
  }
  
  .form-control-login {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .session-utilities-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .checkbox-login {
    margin: 0;
  }
  
  .link-login {
    color: #007bff;
    text-decoration: none;
  }
  
  .form-action-login {
    margin-top: 20px;
  }
  
  .btn-login {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #007bff;
    cursor: pointer;
  }
  
  .social-login-login {
    text-align: center;
    margin-top: 20px;
  }
  
  .social-icon img {
    width: 40px;
    margin: 0 5px;
    vertical-align: middle;
  }
  
  .social-icon:hover {
    cursor: pointer;
  }

  
  @media (max-width: 520px) {
    .login-box-login {
      width: auto; 
      margin: 0 20px; 
      box-shadow: none; 
    }
  
    .university-logo-login {
      height: 60px; 
    }
  
    .login-title-login {
      font-size: 20px; 
    }
  
    .form-control-login {
      padding: 8px; 
    }
  
    .btn-login {
      padding: 12px; 
    }
  
    .social-icon img {
      width: 35px; 
    }
  
    .session-utilities-login {
        display: block;
    }
  
    .checkbox-login{
      margin-bottom: 10px; 
    }
  
    .link-login {
      align-self: flex-end; 
    }
  }


  /* --------------------------------------------------Register---------------------------------------------------------- */
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.registro-container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0;
}

.registro-box-register {
    width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.university-logo-register {
    background-image: url('logo.png'); /* Asegúrate de tener la imagen del logo */
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.registro-title-register {
    margin-bottom: 20px;
}

.form-group-register {
    margin-bottom: 15px;
    display: flex;
    gap: 10px; /* Espaciado entre campos */
}

.form-control-register {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-actions-register {
    display: flex;
    justify-content: space-between;
}

.btn-register {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn.cancelar {
    background-color: #f44336;
    color: white;
}

.btn.registrar {
    background-color: #4CAF50;
    color: white;
}

@media (max-width: 420px) {
    .registro-box-register {
        width: 95%;
        margin: 10px;
    }
    
    .form-group-register {
        flex-direction: column;
    }
}

/* ---------------------------------------------Configuracion-------------------------------------------------------- */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-width: 352px;
}


.container-config {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

.setting-config {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.setting-description-config {
  width: 50%;
}

.title-config {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.setting-control-config {
  width: 50%;
  text-align: right;
}

.select-config {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


.switch-config {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}


.slider-config {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
transition: .4s;
border-radius: 34px;
}

.slider-config:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
transition: .4s;
border-radius: 50%;
}

.input-config:checked + .slider-config {
background-color: #2196F3;
}

.input-config:focus + .slider-config {
box-shadow: 0 0 1px #2196F3;
}

.input-config:checked + .slider-config:before {
transform: translateX(26px);
}

.round-config {
border-radius: 34px;
}

.project-image-config {
  position: relative; /* Establece la posición relativa */
  display: flex;
  justify-content: center; /* Alinea horizontalmente al centro */
  align-items: center; /* Alinea verticalmente al centro */
  height: 300px; /* Ajusta según el tamaño de la imagen */
  margin: 20px;
  border-radius: 10px;
  overflow: hidden; /* Evita que los contenidos se desborden */
}

.project-image-config img {
  width: 100%; /* Asegura que la imagen cubra el contenedor */
  height: auto;
  border-radius: 10px; /* Bordes redondeados */
}

.change-image-btn-config {
  position: absolute; /* Posiciona el botón de manera absoluta dentro del .project-image */
  top: 50%; /* Coloca el botón en el centro vertical del contenedor */
  left: 50%; /* Coloca el botón en el centro horizontal del contenedor */
  transform: translate(-50%, -50%); /* Ajusta la posición precisa del botón */
  padding: 5px 10px;
  background-color: rgba(0, 123, 255, 0.8); /* Color de fondo con opacidad */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.change-image-btn-config:hover {
  background-color: rgba(0, 123, 255, 1); /* Color más sólido al pasar el mouse */
}



#subir_proyecto-config {
display: flex; /* Usa Flexbox para el diseño */
justify-content: center; /* Centra horizontalmente */
align-items: center; /* Centra verticalmente si deseas que también esté centrado verticalmente */
padding: 20px; /* Añade algo de padding alrededor */
}

#input_titulo-config {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f8f8f8;
}
#descripcion-config {
  width: 100%;
  height: 200px;
  padding: 15px 15px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f8f8f8;
  resize: none;
}

#titulo-config {
  color: #333;
  text-align: center;
}

.profile-card-global-config {
  background-color: #ebebeb;
  padding: 0.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  margin: 0.5em;

}
.profile-card-config {
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 0.5em;
}

.profile-photo-config {
  flex: 1; /* takes up 1 part of the flex container */
  margin-right: 15px;
  max-width: 120px;
}

.profile-photo-config img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
}

.profile-info-config {
  flex: 2; /* takes up 2 parts of the flex container */
}

.profile-name-config {
  font-size: 1.2em;
  color: #333;
  margin: 0 0 5px 0;
}

.profile-username-config,
.profile-university-config,
.profile-degree-config {
  font-size: 2em;
  color: #666;
  margin: 0;
}

.user-name-config {
  font-size: 1em;
  color: #333;
  margin-right: 10px; /* Adjust the margin as needed */
}


/* ---------------------------------------------------------------------------------------------*/

.project-container-config {
    background: #fff;
    margin-top: 0.1em;;
    
    padding: 20px;
  }


  .comment-section-config {
    background-color: #fff;
    /* padding: 20px; */
    border-radius: 10px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
    margin: auto;
  }
  .comment-config {
    margin-bottom: 20px;
  }
  .comment-config img {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }
  .comment-title-config {
    font-size: 1em;
    color: #333;
    margin: 5px 0;
  }
  .comment-caption-config {
    font-size: 0.9em;
    color: #666;
  }
  .comment-box-config {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
  }
  .comment-box-config input[type="text"] {
    width: calc(100% - 110px);
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .comment-box-config input[type="submit"] {
    width: 100px;
    border: none;
    padding: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }

  /* MULTIMEDIA */

.resources-section-config {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 1em;
}
.resources-section-config h2 {
  font-size: 1.25rem;
  color: #333;
}
.documents-config{
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
  /* padding: 1em; */
  margin: 0;
}

.documents-config h3 {
  margin-top:0.1em;
}

.document-item-config {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
  padding: 0.2em;
  border-radius: 4px;
}

.document-icon-config img{
  margin-right: 0.5em;
  height: 4em;
}
.document-info-config {
  flex-grow: 1;
}
.document-title-config {
  font-size: 1rem;
  color: #333;
  margin: 0;
}
.document-description-config {
  font-size: 0.875rem;
  color: #666;
}
.download-button-config {
  background: #007bff;
  margin-right: 5px;
  color: white;
  border: none;
  padding: 0.5em 0.9em;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;
}

.download-button-config:hover {
  background: #0056b3;
}

.delete-button-config {
  background: #adaeb0;
  color: white;
  border: none;
  padding: 0.5em 0.9em;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;
}

.delete-button-config:hover {
  background: #7a7b7d;
}

.upload-button-config {
  background: #565656;
  color: white;
  border: none;
  padding: 0.5em 0.9em;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;
}

.upload-button-config:hover {
  background: #000000;
}

.image-gallery-config {
  margin-top: 20px;
}
.gallery-image-config {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.slider-container-config {
  display: flex;
  width: 90%;
  height: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider-container-config img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}



/*FOOTER*/
.site-footer-config {
  background-color: #f4f4f4;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  color: #333;
  border-top: 3px solid #dcdcdc;
}

.footer-content-config {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section-config h3 {
  color: #000;
  margin-bottom: 10px;
}

.footer-section-config p,
.footer-section-config ul,
.footer-section-config ul li {
  color: #666;
  line-height: 1.6;
}

.footer-section-config ul {
  list-style-type: none;
  padding: 0;
}

.footer-section-config ul li a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section-config ul li a:hover {
  color: #0d47a1;
}

.social-icons-config a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons-config img {
  width: 24px;
  height: 24px;
}


.project-actions-config {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  gap: 1em;;
}

.rate-project-config,
.share-project-config {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 12em;
  height: 6.5em;
  border-radius: 8px;
  background-color: #f4f4f4;
  gap: 0.5em;
}

.valorar-config {
  display: flex;
  justify-content: center;
  align-items: center;
}

#estrellas-config {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-radius: 6px;
  border: 0.5px solid #d8d8d8;

}

.rate-button-config {
  background: none;
  border: none;
  color: #333; /* Gold color for stars */
  font-size: 2em;
  cursor: pointer;
}

.rate-count-config {
  margin-left: 5px;
}

.social-icons-config {
  display: flex;
}

.social-icon-config {
  font-size: 1.5em;
  margin-right: 10px;
  color: #333; /* Dark color for social media icons */
  text-decoration: none;
}

.social-icon-config:hover {
  color: #007bff; /* Light blue on hover for social media icons */
}

@media (min-width: 520px) {
  .project-actions-config{
    flex-direction: row;
    
  }
}


@media (max-width: 600px) {
  .logo-big-config {
    display: none;
  }
  
  .logo-small-config {
    display: block; /* Mostrar la imagen pequeña */
  }

}


/* Estilos para pantallas más grandes */
@media screen and (min-width: 768px) { /* Ajusta el 768px según tus necesidades */
  .project-container-config {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .left-column-config, .right-column-config{
    width: 49%;
  }
  .left-column-config{
    padding-right: 1em;
    border-right: 1px solid #666;
  }
  .right-column-config{
    padding-left: 1em;
  }

  .custom-file-upload-config {
    padding: 150px 225px;
  
}

  /* Asegúrate de que las imágenes dentro de .project-container y .resources-section no se desborden de sus contenedores */
  .slider-container-config img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  /* Ajusta el diseño del slider para que no ocupe toda la altura de la pantalla en pantallas grandes */
  .slider-container-config {
    height: auto;
    overflow-x: auto; /* Cambia a auto para evitar altura innecesaria */
  }
  
  /* Contenedor para la barra de búsqueda y la imagen del perfil */
  .search-and-profile-config {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ocupa toda la anchura disponible */
    margin-bottom: 1em; /* Agrega margen debajo si es necesario */
  }

  .search-bar-config {
    flex-grow: 1; /* Permite que la barra de búsqueda crezca para llenar el espacio */
    margin-right: 1em; /* Añade margen a la derecha */
  }

  .profile-config {
    /* Si la imagen de perfil necesita ajustes de tamaño, agrégalos aquí */
  }

  .project-actions-config{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    
  }


}

@media (min-width: 975px) {
  .project-actions-config{
    display: flex;
    flex-direction: row;
    
  }

  
}


/* ---------------------------------------Publicar Proyectos------------------------------------ */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-width: 352px;
}
.project-image {
  position: relative; /* Asegura que el contenedor label pueda posicionar absolutamente los hijos */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; /* Altura fija del área de subida */
  margin: 20px;
  border: 1px dashed #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  overflow: hidden; /* Esconde cualquier parte de la imagen que sobresalga */
}



.project-image:hover {
  border: 1px dashed #007bff; /* Cambia el color del borde al pasar el ratón */
}

.custom-file-upload {
position: relative;
cursor: pointer;
font-size: 16px;
padding: 10px 20px;
z-index: 10; /* Asegura que el texto se muestre sobre la imagen */
background: rgba(255, 255, 255, 0.7); /* Ligeramente transparente para ver la imagen debajo */
border-radius: 5px;
}


.subir_proyecto {
display: flex; /* Usa Flexbox para el diseño */
justify-content: center; /* Centra horizontalmente */
align-items: center; /* Centra verticalmente si deseas que también esté centrado verticalmente */
padding: 20px; /* Añade algo de padding alrededor */
}

.input_titulo {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f8f8f8;
}
.descripcion {
  width: 100%;
  height: 200px;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f8f8f8;
  resize: none;
}

#titulo {
  color: #333;
  text-align: center;
}

.profile-card-global {
  background-color: #ebebeb;
  padding: 0.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  margin: 0.5em;

}
.profile-card {
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 0.5em;
}

.profile-photo {
  flex: 1; /* takes up 1 part of the flex container */
  margin-right: 15px;
  max-width: 120px;
}

.profile-photo img {
  /* width: 100%;
  height: auto;
  border-radius: 50%;
  display: block; */
}

.profile-info {
  flex: 2; /* takes up 2 parts of the flex container */
}

.profile-name {
  font-size: 1.2em;
  color: #333;
  margin: 0 0 5px 0;
}

.profile-username,
.profile-university,
.profile-degree {
  /* font-size: 2em; */
  color: #666;
  margin: 0;
}

.user-name {
  font-size: 1em;
  color: #333;
  margin-right: 10px; /* Adjust the margin as needed */
}


/* ---------------------------------------------------------------------------------------------*/

.project-container {
    background: #fff;
    margin-top: 0.1em;;
    
    padding: 20px;
  }


  .comment-section {
    background-color: #fff;
    /* padding: 20px; */
    border-radius: 10px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
    margin: auto;
  }
  .comment {
    margin-bottom: 20px;
  }
  .comment img {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }
  .comment-title {
    font-size: 1em;
    color: #333;
    margin: 5px 0;
  }
  .comment-caption {
    font-size: 0.9em;
    color: #666;
  }
  .comment-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
  }
  .comment-box input[type="text"] {
    width: calc(100% - 110px);
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .comment-box input[type="submit"] {
    width: 100px;
    border: none;
    padding: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }

  /* MULTIMEDIA */

.resources-section {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 1em;
}
.resources-section h2 {
  font-size: 1.25rem;
  color: #333;
}
.documents{
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.2); */
  /* padding: 1em; */
  margin: 0;
}

.documents h3 {
  margin-top:0.1em;
}

.document-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
  padding: 0.2em;
  border-radius: 4px;
}

.document-icon img{
  margin-right: 0.5em;
  height: 4em;
}
.document-info {
  flex-grow: 1;
}
.document-title {
  font-size: 1rem;
  color: #333;
  margin: 0;
}
.document-description {
  font-size: 0.875rem;
  color: #666;
}
.download-button {
  background: #007bff;
  margin-right: 5px;
  color: white;
  border: none;
  padding: 0.5em 0.9em;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;
}

.download-button:hover {
  background: #0056b3;
}

.delete-button {
  background: #adaeb0;
  color: white;
  border: none;
  padding: 0.5em 0.9em;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;
}

.delete-button:hover {
  background: #7a7b7d;
}

.upload-button {
  background: #565656;
  color: white;
  border: none;
  padding: 0.5em 0.9em;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;
}

.upload-button:hover {
  background: #000000;
}

.image-gallery {
  margin-top: 20px;
}
.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.slider-container {
  display: flex;
  width: 90%;
  height: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}



/*FOOTER*/
.site-footer {
  background-color: #f4f4f4;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  color: #333;
  border-top: 3px solid #dcdcdc;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section h3 {
  color: #000;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section ul li {
  color: #666;
  line-height: 1.6;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #0d47a1;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}


.project-actions {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  gap: 1em;;
}

.rate-project,
.share-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 12em;
  height: 6.5em;
  border-radius: 8px;
  background-color: #f4f4f4;
  gap: 0.5em;
}

.valorar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#estrellas {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-radius: 6px;
  border: 0.5px solid #d8d8d8;

}

.rate-button {
  background: none;
  border: none;
  color: #333; /* Gold color for stars */
  font-size: 2em;
  cursor: pointer;
}

.rate-count {
  margin-left: 5px;
}

.social-icons {
  display: flex;
}

.social-icon {
  font-size: 1.5em;
  margin-right: 10px;
  color: #333; /* Dark color for social media icons */
  text-decoration: none;
}

.social-icon:hover {
  color: #007bff; /* Light blue on hover for social media icons */
}

@media (min-width: 520px) {
  .project-actions{
    flex-direction: row;
    
  }
}


@media (max-width: 600px) {
  .logo-big {
    display: none;
  }
  
  .logo-small {
    display: block; /* Mostrar la imagen pequeña */
  }

}


/* Estilos para pantallas más grandes */
@media screen and (min-width: 768px) { /* Ajusta el 768px según tus necesidades */
  .project-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .left-column, .right-column{
    width: 49%;
  }
  .left-column{
    padding-right: 1em;
    border-right: 1px solid #666;
  }
  .right-column{
    padding-left: 1em;
  }

  .custom-file-upload {
    padding: 150px 225px;
  
}

  /* Asegúrate de que las imágenes dentro de .project-container y .resources-section no se desborden de sus contenedores */
  .slider-container img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  /* Ajusta el diseño del slider para que no ocupe toda la altura de la pantalla en pantallas grandes */
  .slider-container {
    height: auto;
    overflow-x: auto; /* Cambia a auto para evitar altura innecesaria */
  }
  
  /* Contenedor para la barra de búsqueda y la imagen del perfil */
  .search-and-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ocupa toda la anchura disponible */
    margin-bottom: 1em; /* Agrega margen debajo si es necesario */
  }

  .search-bar {
    flex-grow: 1; /* Permite que la barra de búsqueda crezca para llenar el espacio */
    margin-right: 1em; /* Añade margen a la derecha */
  }

  .profile {
    /* Si la imagen de perfil necesita ajustes de tamaño, agrégalos aquí */
  }

  .project-actions{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    
  }


}

@media (min-width: 975px) {
  .project-actions{
    display: flex;
    flex-direction: row;
    
  }

  
}






/* Estilo del fondo del modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Estilo del contenido del modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* El botón cerrar (x) */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Estilos generales del modal */
.upload-modal {
display: none;
position: fixed;
z-index: 1001; /* Alta prioridad para superponer sobre otros elementos */
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto; /* Permite el desplazamiento dentro del modal si es necesario */
background-color: rgba(0, 0, 0, 0.4); /* Fondo semi-transparente */
}

/* Contenido del modal */
.upload-modal-content {
position: relative; /* Para posicionar absolutamente elementos dentro, como el botón de cerrar */
background-color: #fff;
margin: 5% auto; /* Centrado vertical y horizontal */
padding: 20px;
border-radius: 5px;
border: 1px solid #888;
width: 50%; /* Ajusta esto según tu diseño */
box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Estilos para inputs, selects y textareas dentro del modal */
.upload-modal-content label,
.upload-modal-content input,
.upload-modal-content select,
.upload-modal-content textarea {
width: 100%;
margin-top: 10px;
box-sizing: border-box; /* Asegura que el padding y el border sean incluidos en el width/height */
}

/* Vista previa de la imagen cargada */
.uploadImagePreview {
height: 200px; /* Altura fija para mantener consistencia */
width: auto; 
margin-top: 10px;
margin-bottom: 10px;
}

/* Botón de cerrar en el modal */
.upload-close {
cursor: pointer;
position: absolute;
right: 10px;
top: 10px;
font-size: 24px;
color: #666;
}

.upload-close:hover,
.upload-close:focus {
color: #000;
text-decoration: none;
}

/* Estilos para el botón de carga de archivos */
.upload-file-button {
background-color: #007bff; /* Color azul */
color: white;
border: none;
padding: 10px 15px;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

.upload-file-button:hover {
background-color: #0056b3; /* Un azul más oscuro para el hover */
}

/* Estilo del input de tipo file para ocultarlo visualmente pero seguir siendo funcional */
.uploadFileInput {
opacity: 0;
position: absolute;
z-index: -1;
}

/* Label que actúa como botón para el input file */
.upload-file-label {
display: inline-block;
background-color: #007bff; /* Color azul del botón */
color: white;
padding: 8px 15px; /* Reducir el padding para un botón más pequeño */
border-radius: 5px;
cursor: pointer;
font-size: 14px; /* Reducir un poco el tamaño de la fuente */
margin-top: 10px;
margin-right: 20px; /* Espacio entre los botones */
}

.upload-file-label:hover {
background-color: #0056b3; /* Color azul más oscuro en hover */
}

.project-info {
 margin-left: 15px;
}

.input-group {
width: 100%; /* Ocupa todo el ancho posible dentro de project-info */
display: flex;
flex-direction: column;
align-items: center;
margin: 10px 0; /* Añade algo de espacio entre los grupos */
}

.input_titulo, .descripcion, .input_horas, .tipo_proyecto {
width: 80%; /* Reduce el ancho para no ocupar todo el contenedor */
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 15px;
background-color: #f8f8f8;
}







.carousel-container {
position: relative;
margin: auto;
overflow: hidden;
width: 100%; /* O el ancho que prefieras, pero que coincida con el ancho de las imágenes */
max-height: 35em;
}

.carousel-slide {
display: flex;
width: calc(100% ); /* Cambiar cantidadDeImagenes por el número real de imágenes en el carrusel */
}

.carousel-image {
max-width: 100%;
width: calc(100%); /* Se establece que cada imagen ocupe todo el ancho del contenedor */
flex: 0 0 auto; /* Esto evita que las imágenes se estiren o se encojan */
transition: transform 0.5s ease;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff75;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


/* -------------------------------Editar perfil--------------------------- */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-width: 352px;
}

.profile-card-global {
  background-color: #ebebeb;
  padding: 0.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  margin: 0.5em;

}
.profile-card {
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 0.5em;
}

.profile-photo {
  flex: 1; /* takes up 1 part of the flex container */
  margin-right: 15px;
  /* max-width: 120px; */
  /* max-height: 120px;   */
}
.imagen-perfil{
  width: 120px;
  height: 120px;
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}

.profile-info {
  flex: 2; /* takes up 2 parts of the flex container */
}

.profile-name {
  font-size: 1.2em;
  color: #333;
  margin: 0 0 5px 0;
}

.profile-username,
.profile-university,
.profile-degree {
  font-size: 0.9em;
  color: #666;
  margin: 0;
}

/* _________________________________________________ */

.form-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0.25, 0, 0.25);
  padding: 20px;
  margin: 0.5em;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 0.9em;
  color: #333;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"] {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 0.9em;
}

.form-group select {
  width: 98%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 0.9em;
}

.form-group select:focus {
  outline: none;
  border-color: #007bff;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="number"]:focus {
  outline: none;
  border-color: #007bff;
}

.form-button {
  width: 35%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

.form-button:hover {
  background-color: #0056b3;
}

/* ... existing styles ... */



.section-header {
font-size: 1em;
color: #333;
padding: 10px 0;
border-bottom: 1px solid #ccc;
margin-bottom: 10px;
}

.upload-instructions {
font-size: 0.8em;
color: #666;
margin-bottom: 15px;
}

.form-group input[type="file"] {
border: none;
margin-bottom: 10px;
width: 95%; /* Ajustado para mantener la consistencia con otros campos de entrada */
}

.password-section {
margin-top: 20px;

}

.form-group input[type="password"] {
width: 95%; /* Ajustado para mantener la consistencia con otros campos de entrada */
padding: 10px;
border-radius: 5px;
border: 1px solid #ddd;
font-size: 0.9em;
}

.form-group input[type="password"]:focus {
outline: none;
border-color: #007bff;
}


.content-container {
display: block;
}

.left-container,
.right-container {
width: 100%;
}

/* Estilos para pantallas más grandes */
@media screen and (min-width: 768px) { /* O el punto de ruptura que elijas */
.content-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin:0.7em;
}

.left-container,
.right-container {
  width: 49%; /* Ajusta el porcentaje según tus necesidades */
  display: flex;
  flex-direction: column;
}

/* Asegúrate de que los formularios no se estiren demasiado */
.form-container {
  /* width: 100%; */
  margin: 0 0 1em 0;
}
}



@media (max-width: 600px) {
.logo-big {
  display: none;
}

.logo-small {
  display: block; /* Mostrar la imagen pequeña */
}
}

